body {
    margin: 0;
    font-family: 'Cormorant Unicase', serif;
    z-index: -9;
}


/* Navbar container */

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The dropdown container */

.dropdown {
    float: left;
    overflow: hidden;
}


/* Dropdown button */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
    text-decoration: none;
    color: #ddd
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000000;
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 90000;
}

#quote {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: .1em;
    margin: 2.4rem auto 0;
    width: max-content;
}

#search-bar {
    width: 50%;
    margin: 0 auto;
}

.hero {
    width: 100%;
    /* border: red solid 10px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    margin-top: 5rem;
    /* border: yellow solid 10px; */
    flex-direction: column;
    margin: 0 auto;
}

.content h1 {
    justify-self: center;
    display: block;
    margin: 0 auto;
}


/* .categories {
       border: black solid 10px;
       width: 10rem;
       height: 10rem;
   } */

.card-container {
    width: 100%;
    display: grid;
    gap: 10px;
    height: max-content;
    grid-template-columns: repeat(3, 1fr);
    /* border: 10px solid red; */
    margin: 0 auto;
    padding: 0;
    /* border: saddlebrown solid 10px; */
}

.card {
    /* border: 10px solid olive; */
    width: 70%;
    /* margin: 0 auto; */
    padding: 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.content-shadow {
    margin-top: 15rem;
}

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.caurouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
}

.carouselBtn {
    position: absolute;
    top: 50%;
    transform: translateX(101%);
    border: 0;
    outline: none;
    background-color: transparent;
}

.carouselBtn img {
    width: 80px;
}

.carouselBtnLeft {
    left: -190px;
}

.carouselTrack-container {
    /* background-color: red; */
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carouselSlideTrack {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carouselTrack {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carouselBtnRight {
    right: 0;
}

.carouselNav {
    display: flex;
    /* background-color: orange; */
    justify-content: center;
    padding: 10px 0;
}

.carouselIndicator {
    border: 0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 15px;
    background: rgba(0, 0, 0, .5);
}

.carouselIndicator.active {
    background: rgba(0, 0, 0, 1);
}

.post-container {
    width: 100%;
    display: grid;
    height: min-content;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    /* border: 10px solid red; */
    /* border: lightcoral solid 10px; */
}

.bgpost {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    /* border: 10px solid orange; */
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    margin: .5rem;
    /* border: red solid 10px; */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.bgpost .bgp-title {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2rem;
}

.bgp-content {
    font-size: 20px;
    width: 100%;
    text-align: start;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
}

.card {
    /* margin: auto; */
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    /* border: 10px solid orange; */
    padding: 0;
    display: flex;
    height: min-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    margin: 5rem;
    /* border: red solid 10px; */
}


/* border: teal solid 10px; */

.card-header img {
    width: 100%;
    height: 20em;
    margin: 0;
    object-fit: cover;
    padding: 0;
}

.card-body {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-height: min-content;
    padding: 1.2rem;
    /* border: blue solid 10px; */
}

.card-body h4 {
    margin: 10px 0;
}

.card-body p {
    font-size: 1.2rem;
    margin: 0 0 40px;
}

h1 {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

aside {
    margin-top: 65px;
    margin-left: 30px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

@media (max-width:900px) {
    .card-container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .card-body {
        margin-bottom: 0;
    }
}

.is-hidden {
    display: none;
}

footer {
    background-color: red;
    height: 10rem;
}

.footer-container {
    background-color: orange;
    height: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links li {
    margin: 20px;
    color: white;
}

.links li a {
    color: white;
    font-size: 2rem;
}