    #login,
    #signin {
        border: solid #1852aa 8px;
        /* margin-top: 10px; */
        border-radius: 35px;
        height: 500px;
        font-size: 30px;
        width: 50rem;
    }
    
    #login {}
    
    #logins {
        border: red solid 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .text {
        padding-top: 20rem;
    }
    
    input {
        /* width: 100%; */
        display: block;
    }
    
    #link {
        /* margin-bottom: 20rem; */
        display: block;
    }
    
    .column {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        text-align: center;
        color: #1852aa;
        font-weight: bolder;
    }
    
    .form-group {
        /* padding: 10px; */
        justify-content: center;
        border: orange solid 10px;
    }
    /* .google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}



html, body {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button ~ button {
  margin-left: 20px;
}
 */
    
    .google-button {
        height: 40px;
        border-width: 0;
        background: white;
        color: #737373;
        border-radius: 5px;
        white-space: nowrap;
        box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
        transition-property: background-color, box-shadow;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        padding: 0;
    }
    
    .google-button:focus,
    .google-button:hover {
        box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    }
    
    .google-button:active {
        background-color: #E5E5E5;
        box-shadow: none;
        transition-duration: 10ms;
    }
    
    .google-button__icon {
        display: inline-flex;
        vertical-align: middle;
        margin: 8px 0 8px 8px;
        width: 18px;
        height: 18px;
        box-sizing: border-box;
    }
    
    .google-button__icon--plus {
        width: 27px;
    }
    
    .google-button__text {
        display: inline-block;
        vertical-align: middle;
        padding: 0 24px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Roboto", arial, sans-serif;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        background-color: #F0F0F0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    button~button {
        margin-left: 20px;
    }
    /* #signin{
  border: solid #1852aa 8px ;   
 
 border-radius: 35px;
  height: 400px; 
 font-size: 30px;
width: 500px;
float: right;
  } */
    /* .container-md{
    width: 50%;
    justify-content: center;

  } */
    
    .btn.btn-facebook {
        background-color: #2479b6;
        border-color: #2479b6;
        background-image: url("../images/kiev-ukraine-january-19-2017-260nw-566786650\ \(3\).jpg");
        background-repeat: no-repeat;
        color: cornsilk;
        margin: auto;
        letter-spacing: .1em;
    }